$colour-background-dark: #32333d;
$colour-background-dark-md: #434655;
$colour-background-light: #ffffff;
$colour-yellow-light:  rgb(255, 255, 151);
$colour-yellow-light-md:  rgb(204, 204, 102);
$colour-blue-dark:  rgb(68, 68, 141);
$colour-blue-dark-md:  rgb(102, 102, 204);
$colour-link: rgb(5, 5, 255);
$colour-link-hover: rgb(0, 0, 163);
$colour-text: #32333d;
$colour-footer:  #E8DBB9;


$font-family-poppins:     poppins, lato, "sans-serif";  
$font-family-lato:        lato, poppins, "sans-serif";    
$font-family-questrial:   questrial, poppins, "sans-serif";   
$font-family-caveat:       caveat, "sans-serif"; 


$breakpoint-first: 400px;
$breakpoint-second: 500px;
$breakpoint-third: 650px;
$breakpoint-fourth: 768px;
$breakpoint-fifth: 950px;







